*{
    margin:0;
    padding:0;
    font-family:'Roboto','Montserrat', sans-serif;
    box-sizing: border-box;

}
body{
    background-color: #222;
    color: #aaa;
    
}
.card{
    width: 90%;
    max-width: 450px;
    background: linear-gradient(135deg, #17e7af, #4b437c);
    
    /* Gradient for sunny day
    background: linear-gradient(to bottom, #4CAF50, #F9F871); */
    
    /* Gradient for night
    background: linear-gradient(to bottom, #002C46, #0F1B2D); */

    color:#fff;
    margin: 20px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 18px;
    flex: 1;
    margin-right: 16px;

}
.search button{
    border:0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor:pointer;
       
}
.search button img{
    height: 25px;
}
.weather img{
    width: 180px;
    margin-top: 30px;
}
.weather h1{
    font-size: 60px;
    font-weight: 500;
    
}
.weather h2{
    font-size: 40px;
    font-weight: 300;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.cols{
    display: flex;
    align-items: center;
    text-align: left;
}
.cols img{
    width:40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    display: none;

}